{% extends 'base.html' %}
{% block content %}

   <h3>{{ user.username }}'s News Stories</h2>

   <div id="user_stories">
    {% if user_stories %}
        {% for story in user_stories %}
        <a href="{%url 'news:story' story.id %}">
            <h4>{{story.title}}</h4>                     
      <p>     - {{ story.pub_date }}</p> 
        {% endfor %}
    {% else %}
        <p>No stories for {{ user.username }} yet.</p>
    {% endif %}
    </div>

<h3>{{ user.username }}'s Comments</h2>
  <div id="user_comments">
    {% if user_comments %}
        {% for comments in user_comments %}
        <a href="{%url 'news:story' comments.story.id %}">
        <h4>{{comments.story.title}}</h4>
        <span class="emphasized"> {{ comments.text }} </span>       
                       
      <p>     - {{ comments.date }}</p> 

        {% endfor %}
    {% else %}
        <p>No comments for {{ user.username }} yet.</p>
    {% endif %}


{% endblock %}