{% load static%}
<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>She Codes News</title>
        <meta name="description" content="">
        <meta name="author" content="Lindi">
        <link href="https://fonts.googleapis.com/css?family=Manjari&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <header>
            <div id="header-text">
                <a href="{% url 'news:index' %}" >
                    <img id = logo src="https://github.com/Lyndallh/Lyndallh.github.io/blob/main/images/ABC-logo.png?raw=true" > 
                </a>               
                <a class = "hyperlink" id="header-link" href="{% url 'news:index' %}">
                    <h1>Analytics, Bikes, Coding</h1></a>
            </div>
            <!-- include nav here -->
            {% include './nav.html' %}


        </header>
        <main>
<!-- content blocks here -->
        {% block content %}{% endblock %}
    </main>
    </body>
</html>
