/* "CSS Reset"  */
@import url('https://fonts.googleapis.com/css?family=Inter:400|Milonga:400|Oswald:300|Karma:600');

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ol, ul {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}

:root {
  --black: #2A2935;
  --darkblue: #274574;
  --teal-dark: #086E8D;
  --teal-light: #93C6D3;
  --lightblue: #EAFCFB;
  --sand: #E9E3DE;
}


/* set default font style here */
html, body{
  font-size:18px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1;
}

/* Add Heading styles here  */
h1 {  
  margin-top: 0;
  font-size: 2.488rem;
  font-family: 'Milonga', sans-serif;

}
h2 {
  font-size: 2.074rem;
   font-family: 'Karma', serif; 
}
h3 {
  font-size: 1.728rem;
    font-family: 'Oswald', sans-serif;
  text-transform: uppercase

}
h4 {
  font-size: 1.44rem;
}
h5{
  font-size: 1.2rem;

}
h6{
  font-size: 0.833rem;

}

header{ 
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    color: var(--sand);
    background-color: var(--darkblue);
    font-size: 1.728rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase
}

#logo{
        height: 100px;    
        margin: 10px;
        display: inline-block;
        }

a {
    font-size: 1rem;
    text-decoration: none;
    margin: 0 10px;
    }
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 3;

}

a {
    margin: 2px;
    text-decoration: none;
    color: var(--black);
}

nav a:hover {
    text-decoration: underline;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: var(--darkblue);
    background-color: var(--teal-dark);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

nav a, #header-link {
    color: var(--sand);
}

#author{
    color: #2A2935;
}

#new-story, .hyperlink-button{
    background-color: var(--darkblue);
    padding: 5px;
    border-radius: 5px;
    color: #E9E3DE;
}

input, textarea{
    background-color: var(--sand);
    border-color: var(--darkblue);
    border-radius: 5px;
    border-width: 1px;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}

form{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start ;
    align-items: flex-start;
    
}

p{
    display: flex;
    flex-flow: column wrap;
    color: var(--black);
    font-family: 'Rubik', sans-serif;
}

.emphasized { font-style: italic; }