/* "CSS Reset"  */
@import url('https://fonts.googleapis.com/css?family=Inter:400|Milonga:400|Oswald:300|Karma:600');

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

main {margin: 1%;}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

:root {
  --black: #2A2935;
  --darkblue: #274574;
  --teal-dark: #0A6480;
  --teal-light: #93C6D3;
  --lightblue: #CFDAF2;
  --sand: #E9E3DE;

/*  inherited colors  */
  --text: #2A2935;
}

/* set default font style here */
html, body{
  font-size:18px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  background-color: var(--teal-light);
  color: var(--black);
}

/* Add Heading styles here  */
h1 {  
    margin-top: 0;
    font-size: 1.44rem;
    font-family: 'Milonga', sans-serif;
}

h2 {
    font-size: 2.074rem;
    font-family: 'Karma', serif; 
}

h3 {
    font-size: 1.728rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase
}

h4 {
    font-size: 1.44rem;
    font-family: 'Karma', serif;   
}

h5{
    font-size: 1.2rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

h6{
    font-size: 0.833rem;
    font-family: 'Karma', serif; 

}

small, .text_small {font-size: 0.6rem;}

/*  testing code to show gaps */

html {
    color: hotpink;
}

/* header styling  */
header{ 
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--sand);
    background-color: var(--darkblue);  
    height:120px
}
#logo{
    height: 100px; 
    max-width: 100px;
    margin: auto;
    display: inline-block;
}
a {
    text-decoration: none;
    margin: 0 10px;
    }

a {
    margin: 2px;
    text-decoration: none;
    color: var(--black);
}

#header-text {
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#header-link{
    color: var(--sand);
}
/* REMOVE NAV FLEX */
/* nav {
    flex-basis: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
    flex-wrap: wrap;
} */
/* REMOVE NAV FLEX  */
nav {
    display: grid;
    max-height: 120px;
    column-gap: 1rem;
    padding-right: 1rem;
}

nav a {
    color: var(--sand);
}
#nav_user{
    grid-area: 1 / 1 / span 2 / span 1;
    align-self: center;
}

#author{
    color: #2A2935;
}

#new-story, .hyperlink-button{
    background-color: var(--teal-dark);
    padding: 5px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #2A2935;
    color: #E9E3DE;
    grid-area: 1 / 2 / span 1 / span 2;
}
.hyperlink-button{
    grid-area: 2 / 2 / span 1 / span 2;
}

#new-story:hover, .hyperlink-button:hover, #submit:hover{
    box-shadow:  0 0 10px var(--sand),0 0 20px var(--black), 0 0 30px var(--darkblue);
}
.hyperlink:hover{
    text-shadow:  0 0 10px var(--black),0 0 20px var(--sand), 0 0 30px var(--teal-dark);
}
input, textarea{
    background-color: var(--sand);
    border-color: var(--darkblue);
    border-radius: 5px;
    border-width: 1px;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    height: 100%;
    
}
#div_id_title input{
    font-size: 1.728rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase   
}
form{
    display: flex;
    flex-flow: column wrap;

}
#story_form{
    display: grid;
    gap: 1rem;
}
#div_id_title{
    grid-area: 1 / 1 / span 1 / span 1;
  
}
#div_id_pub_date{
    grid-area: 2 / 1 / span 1 / span 1;     
}
#div_id_content{
    grid-area: 1 / 2 / span 3 / span 1;     
}
#div_id_image{
    grid-area: 3 / 1 / span 1 / span 1;     
}
#submit{
    grid-area: 4 / 2 / span 1 / span 1;
    background-color: var(--teal-dark);
    padding: 5px;
    border-radius: 5px;
    border-width: 1px;
    border-color: #2A2935;
    color: #E9E3DE;

}

p{
    display: flex;
    flex-flow: column wrap;
    color: var(--black);
    font-family: 'Rubik', sans-serif;
}

.emphasized { font-style: italic; }

.comment_bubble{
    display: grid;
    column-gap: 1rem;
    border: 1px solid var(--darkblue);
    border-radius: 5px;
    padding: 5px;
    background-color: var(--sand);
    border-radius: 25px 25px 25px 0px;
    padding: 7px 13px 7px 13px;
    grid-area: 1 / 2 / span 1 / span 1; 
}

.comment_bubble:hover{
    background-color: var(--sand);
}
#comment_text {
        grid-area: 2 / 1 / span 2 / span 4;     
    }
#story_title{
    grid-area: 1 / 1 / span 1 / span 5;
    display: block;
    background-color: var(--teal-light);
    opacity: 0.75;
    padding: 5px;
    border-radius: 5px;
    font-size: 1rem;
    border-left: 5px solid var(--teal-dark);
    
}
#story_title:hover{
    box-shadow:  0 0 10px var(--sand),0 0 20px var(--black), 0 0 30px var(--darkblue);
}
#comment_date{
    grid-area: 4 / 4 / span 1 / span 2;
    text-align: right;
    text-wrap:nowrap;
    contain: content;
}
#comment_author{
    font-size: 0.833rem;
    font-family: 'Karma', serif;
    grid-area: 2 / 1 / span 1 / span 1; 
}
.story_comment{
    display: inline-grid;
    margin-bottom: 1rem;
    max-width: 75%;
}

#author_comments, #user_comments{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.story-card {
    margin: 2px;
    border: 1px solid var(--darkblue);
    border-radius: 5px;
    padding: 5px;
    background-color: var(--sand);  }
.story-card:hover{
    background-color: var(--lightblue);  }

.story-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}