@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');
:root {
    --black: #2A2935;
    --darkblue: #274574;
    --teal-dark: #086E8D;
    --teal-light: #93C6D3;
    --lightblue: #EAFCFB;
    --sand: #E9E3DE;
}


html{
    font-size: 1rem;
    line-height: 1.2rem;
}
body {
    background-color: #93C6D3;
    font-family: 'Rubik', sans-serif;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000;
}

/* img {
    /* filter: grayscale(100%); */
/* }*/

h1 {
    font-family: 'Rubik', sans-serif;    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
    font-family: 'Rubik', sans-serif;}

h3 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: 'Rubik', sans-serif;
}

#author{
    background-color: blue;
}

#new-story, .hyperlink-button{
    background-color: var(--darkblue);
    padding: 5px;
    border-radius: 5px;
    color: #E9E3DE;
}

input, textarea{
    background-color: var(--sand);
    border-color: var(--darkblue);
    border-radius: 5px;
    border-width: 1px;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}

form{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start ;
    align-items: flex-start;
    
}

p{
    display: flex;
    flex-flow: column wrap;
}

.emphasized { font-style: italic; }