{% extends 'base.html' %}
{% load static %} 
{% block stylesheets %}
<link rel="stylesheet" type = "text/css" href="{% static 'news/styles.css' %}">
{% endblock %}
{% block content %}
<br>

<h2>Latest News from {{ author }}</h2>

<div id="author_latest_stories">
    {% if author_latest_stories %}
        {% for story in author_latest_stories %}
            {% include './storyCard.html' with story=story position=forloop.counter %}
        {% endfor %}
    {% else %}
        <p>No stories are available.</p>
    {% endif %}
</div>
<br>
<h2>{{ author }}'s Other News Stories</h2>

<div id="author_other_stories">
    {% if author_other_stories %}
        {% for story in author_other_stories %}
            {% include "./storyCard.html" with story=story %}
            <!-- <p>{{ story.title }}</p> -->
        {% endfor %}
    {% else %}
        <p>No stories are available.</p>
    {% endif %}
</div>
<br>
<!-- AUTHOR COMMENTS SECTION -->
<h2>{{ author }}'s Comments</h2>
  <div id="author_comments">
    {% if author_comments %}
        {% for comments in author_comments %}
    <div class="story_comment">
        <div class = "comment_bubble" >
            <span id="comment_text" class="emphasized"> {{ comments.text }} </span>       
            <h6 id = "comment_date"> - {{ comments.date }}</h6> 
            <a id = "story_title" href="{%url 'news:story' comments.story.id %}"> 
                <h5>{{comments.story.title}}</h5>
                <h6>{{comments.story.author}}</h6>
             </a>
        </div>
    </div>
            {% endfor %}
    {% else %}
        <p>No comments for {{ author }} yet.</p>
    {% endif %}


{% endblock %}