{% extends 'base.html' %}
{% load static %} 
{% block stylesheets %}
<link rel="stylesheet" type = "text/css" href="{% static 'news/styles.css' %}">
{% endblock %}
{% block content %}
<br>

   <h2>Latest News</h2>

    <div id="latest-stories">
        {% if latest_stories %}
            {% for story in latest_stories %}
                {% include './storyCard.html' with story=story position=forloop.counter %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>
<br>
    <h2>Other News Stories</h2>

    <div id="other-stories">
        {% if other_stories %}
            {% for story in other_stories %}
                {% include "./storyCard.html" with story=story %}
                <!-- <p>{{ story.title }}</p> -->
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>
{% endblock %}