{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
   <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css'%}">
{% endblock %}
{% block content %}


<div id="story-wrapper">
    <h2>{{ story.title }}</h2>
    <div id = "author">
        <h4>{{ story.author }}</h4>
    </div>
    
    <div id="story-content">
        {% if story.image %}
        <img src="{{ story.image }}">
        {% else %}
            <!-- <img src="{% static '/news/images/placeholder-5.jpg' %}">--->
            <img src="https://picsum.photos/700">
        {% endif %}
        {{ story.content|linebreaks }}
    </div>
    <section>
        <div>
            {% if request.user.is_authenticated %}
            <form method = "POST" action= "{% url 'news:addComment' story.id %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type ="submit" value="Submit">
            </form>
        {% else %}
            <a class = "hyperlink-button" href="{% url 'login' %}?next={{request.path}}">Login to add a comment</a>
        {% endif %}

        </div>
        {% if story.comments %}
            {% for comments in story.comments.all %}

                <p>{{ comments.author }} said <span class="emphasized"> {{ comments.text }} </span> at {{ comments.date }}</p>                  

            {% endfor %}
        {% else %}
            <p>Be the first to make a comment</p>
        {% endif %}
    </section>
</div>
{% endblock %}

