{% extends "base.html" %}
{% load static %}
{% block stylesheets %}
   <link rel="stylesheet" type="text/css" href="{% static 'news/styles.css'%}">
{% endblock %}
{% block content %}


<div id="story-wrapper">
    <h3>{{ story.title }}</h3>
    <h4>Written by <a href = "{% url 'news:author' story.author_id %}">{{ story.author }}</a><h4>
    <h6>{{ story.pub_date}}</h6>
    <br>

    <div id="story-content">
        {% if story.image %}
            <img src="{{ story.image }}">
            {% else %}
                <img src="https://picsum.photos/700">
            {% endif %}
        {{ story.content|linebreaks }}
    </div>
    <br>

    <!-- DISPLAY COMMENT SECTION -->
    <section>
        <h5>COMMENTS</h5>
<br>
    {% if story.comments.all %}
        {% for comments in story.comments.all %}
    <div class="story_comment">
        <a id="comment_author" href = "{% url 'news:author' comments.author_id %}">{{ comments.author }}</a>        
        <div class = "comment_bubble"><span id = "comment_text" class="emphasized"> {{ comments.text }} </span>
        <h6 id = "comment_date">{{ comments.date }}</h6>
        </div>
    </div>    <br>                  
        {% endfor %}
        {% else %}
            <p>There are no comments for this story..... yet.</p>
        {% endif %}
    </section>
    <br>
    <!-- ADD COMMENT SECTION -->
    <section>
        {% if request.user.is_authenticated %}
            <form method = "POST" action= "{% url 'news:addComment' story.id %}">
                {% csrf_token %}
                <h5>Join the conversation:</h5>
                {{ form.text }}
                <br>
                <input class= "hyperlink-button" type ="submit" value="Submit">
            </form>
            {% else %}
                <a class = "hyperlink-button" href="{% url 'login' %}?next={{request.path}}">Login to add a comment</a>
            {% endif %}
    </section>
</div>
{% endblock %}

